/* --- BUTTONS: --- */

.button-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    /* border: 2px solid; */
    margin: auto;
}

.grid-row {
    display: flex;
    width: 100%;
    min-height: 100px;
    justify-content: space-evenly;
}

.grid-row button {
    flex: 1;
    /* border: 2px solid; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75em;
    border-radius: 1em;
}

/* --- END OF BUTTONS --- */



.screen{
    max-width: 500px;
    min-height: 150px;

    background-color: rgb(6, 6, 63);
    color: white;

    border: 2px solid;
    border-radius: 1em;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;

    margin: auto;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}



/* --- GROUPED STYLING: --- */

.number, #buttonPERIOD {
    background-color: rgb(12, 12, 93);
    color: white;
}

.operator, #buttonEQUALS {
    background-color: rgb(72, 231, 171);
}

#buttonAC, #buttonDEL {
    background-color: rgb(12, 12, 93);
    color: rgb(72, 231, 171);
}

#buttonEQUALS, #button0 {
    flex: 2;
}

/* --- END OF GROUPED STYLING --- */